.bold { font-weight: bold; color: #fff; background: transparent;}
.text {width: 100px; margin-right: 10px;}
.hid {display:none; }
.vis {display:auto;}
.sv .text {border-color:transparent; padding-bottom: 10px; color: #fff; text-align: center; font-weight: bold;}
.sv  {width: 300px; height: 40px; color: #fff;text-align: center; font-weight: bold; overflow:hidden;}
.sv:hover {width: 300px; color: #fff;height: 40px; background-color: rgba(13, 212, 13, 0.50);}
.sv:hover .text {background-color: transparent;}
.container{
    width: 300px;
    height: 300px;
    margin: auto;
    background-color: rgba(3, 3, 3, 0.54);
    padding: 50px;
    margin-top: 100px;
}
body{
    background: url(../../img/747e35135adc381ed581383168044faf.jpg) no-repeat;
    background-size: cover;
}
*{
    margin: 0;
    padding: 0;
    font-family: arial;
    color: #ffff;
}
.site{
    border: 0px solid white;
    padding: 5px 10px;
    border-radius: 2px;
    display: block;
    margin: 10px auto;
    
}
.vis{
     border: 0px solid white;
    padding: 5px 10px;
    border-radius: 2px;
    display: block;
    margin: auto;
}
.text{
    padding: 5px 20px;
    width: 256px;
    height: 30px;
    border: 2px solid #Ccc;
    background: transparent;
}
.site {
    height: 40px;
    width: 300px;
  font-weight: 700;
  color: white;
  text-decoration: none;
  padding: .8em 1em calc(.8em + 3px);
  border-radius: 3px;
  background: rgb(64,199,129);
  box-shadow: 0 -3px rgb(53,167,110) inset;
  transition: 0.2s;
} 
.site:hover { background: rgb(53, 167, 110); }
.site:active {
  background: rgb(33,147,90);
  box-shadow: 0 3px rgb(33,147,90) inset;
}
.knopka {
    border: 0px;
    display: block;
    width: 300px;
    height: 40px;
    margin-top: 5px;
  color: #fff; /* цвет текста */
  text-decoration: none; /* убирать подчёркивание у ссылок */
  user-select: none; /* убирать выделение текста */
  background: rgb(212,75,56); /* фон кнопки */
  padding: .7em 1.5em; /* отступ от текста */
  outline: none; /* убирать контур в Mozilla */
} 
.knopka:hover { background: rgb(232,95,76); } /* при наведении курсора мышки */
.knopka:active { background: rgb(152,15,0); } /* при нажатии */